<h1>API Tester</h1>
<div ng-show="authenticated">
	<p>
		<select name="methodName" id="methodName" ng-options="option.name for option in controller.methods.availableOptions track by option.id"
		  ng-model="controller.methods.selectedOption" ng-change="controller.onMethodChange()" ></select>
		<input name="url" id="url" type="text" ng-model="controller.url" style="width:68%;" >
		<button ng-click="controller.submitToURI()"><< Submit >> </button>
	</p>
	<p>
		<pre pretty-json="controller.config"  />
	</p>
	<p>
		<pre pretty-json="controller.status"  />
	</p>
	<p>
		<textarea ng-show="controller.showjson" name="json" id="json" type="text" ng-model="controller.json" cols="60" rows="15">
		</textarea>
	</p>
	<p>
		<pre pretty-json="controller.headers"  />
	</p>
	<p>
		<pre pretty-json="controller.response"  />
	</p>
	<p><button ng-click="controller.getUser()"> Show! User Details </button></p>
	<pre pretty-json="controller.user"  />
	<p><button ng-click="controller.getCatalogues()"> Show! Catalogue Details </button></p>
	<pre pretty-json="controller.catalogue"  />
	<p><button ng-click="controller.getProducts()"> Show! Product Details </button></p>
	<pre pretty-json="controller.products"  />
</div>
<div ng-show="!authenticated">
	<p>Please login</p>
</div>